#!/usr/bin/env bash
# shellcheck disable=SC2148,SC2155

# .overwrite.env ファイルが無ければテンプレートファイルを作成する。
[ -f .overwrite.env ] || tee .overwrite.env <<'EOF' >/dev/null
# Git で共有しないローカル向け環境変数を .overwrite.env ファイルに設定してください。
# GOOGLE_CLOUD_PROJECT=
EOF

# .env ファイル読み込み
dotenv .default.env
dotenv .overwrite.env

# Git で共有する、かつ、コンテナ内で参照しない環境変数を定義する。
export GITROOT=$(git rev-parse --show-toplevel || pwd || echo '.')
export PRE_PUSH="${GITROOT:?}/.git/hooks/pre-push"
export PATH="${GITROOT:?}/bin:${GITROOT:?}/.local/bin:${PATH:?}"
export VERSION=$(git describe --tags --abbrev=0 --always)
export REVISION=$(git log -1 --format='%H')
export BRANCH=$(git rev-parse --abbrev-ref HEAD)
export TIMESTAMP=$(git log -1 --format='%cI')
export IMAGE_TAG="${REVISION:?}"
export REPO_LOCAL="${APP_NAME:?}"
export REPO_REMOTE="asia-docker.pkg.dev/${GOOGLE_CLOUD_PROJECT-}/${OWNER_NAME:?}/${APP_NAME:?}"
export DIRENV_VERSION=2.32.1
export GOLANGCI_VERSION=1.49.0

# 確認のために環境を出力
(
    cat <<ENV
---
            APP_NAME: ${APP_NAME-}
          OWNER_NAME: ${OWNER_NAME-}
GOOGLE_CLOUD_PROJECT: ${GOOGLE_CLOUD_PROJECT-"$(printf '\033[1;31m[ERROR] %s\033[0m\n' '.overwrite.env に GOOGLE_CLOUD_PROJECT を設定してください。')"}
             GITROOT: ${GITROOT-}
             VERSION: ${VERSION-}
            REVISION: ${REVISION-}
              BRANCH: ${BRANCH-}
           TIMESTAMP: ${TIMESTAMP-}
           IMAGE_TAG: ${IMAGE_TAG-}
          REPO_LOCAL: ${REPO_LOCAL-}
         REPO_REMOTE: ${REPO_REMOTE-}
      DIRENV_VERSION: ${DIRENV_VERSION-}
    GOLANGCI_VERSION: ${GOLANGCI_VERSION-}
---
ENV
)
